doctype html
html(lang=navigatorLanguage)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 404 :: #{navigatorLanguage.startsWith('ru') ? 'Страница не найдена' : 'Page Not Found'}
    link(rel="stylesheet" href="/errors.css")

  body
    video.error-bacgkround(autoplay='true' loop='true' muted='true' playsinline='true')
      source(src='https://videos.pexels.com/video-files/3130284/3130284-hd_1280_720_30fps.mp4' type='video/mp4')
    section.error
      header.error__header
        h1 404 :: #{navigatorLanguage.startsWith('ru') ? 'Страница не найдена' : 'Page Not Found'}
      main.error__main
        p.error__current-link
          |#{navigatorLanguage.startsWith('ru') ? 'Страница по адресу ' : 'Page at URL '}
          =currentURL
          |#{navigatorLanguage.startsWith('ru') ? ' не существует' : ' does not exist'}
      footer.error__footer
        | #{navigatorLanguage.startsWith('ru') ? 'Этого быть не должно? Сообщите нам: ' : 'This shouldn’t be happening? Notify us: '}
        a(href="https://github.com/DemerNkardaz/Nkardazolink-node/issues" target="_blank") GitHub Issues
        button.error__button-copy #{navigatorLanguage.startsWith('ru') ? 'Копировать текст' : 'Copy Error'}
    script.
      document.querySelector('.error__button-copy').addEventListener('click', function() {
        const errorText = document.querySelector('.error__main').innerText;
        navigator.clipboard.writeText(errorText).then(() => alert('Текст ошибки скопирован в буфер обмена'));
      });
      setTimeout(() => window.location.replace("/"), 5000)
