doctype html
html(lang=navigatorLanguage)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 500 :: #{navigatorLanguage.startsWith('ru') ? 'Внутрення ошибка сервера' : 'Internal Server Error'}
    link(rel="stylesheet" href="/errors.css")

  body
    video.error-bacgkround(autoplay='true' loop='true' muted='true' playsinline='true')
      source(src='https://videos.pexels.com/video-files/3130284/3130284-hd_1280_720_30fps.mp4' type='video/mp4')
    section.error
      header.error__header
        h1 500 :: #{navigatorLanguage.startsWith('ru') ? 'Внутрення ошибка сервера' : 'Internal Server Error'}
      main.error__main
        p.error__current-link
          |#{navigatorLanguage.startsWith('ru') ? 'Адрес: ' : 'URL: '}
          a(href=currentURL)=currentURL
        != errorText 
      footer.error__footer
        | #{navigatorLanguage.startsWith('ru') ? 'Сообшить об ошибке: ' : 'Report bug: '}
        a(href="https://github.com/DemerNkardaz/Nkardazolink-node/issues" target="_blank") GitHub Issues
        button.error__button-copy #{navigatorLanguage.startsWith('ru') ? 'Копировать текст' : 'Copy Error'}
    script.
      document.querySelector('.error__button-copy').addEventListener('click', function() {
        const errorText = document.querySelector('.error__main').innerText;
        navigator.clipboard.writeText(errorText).then(() => alert('Текст ошибки скопирован в буфер обмена'));
      });