<!DOCTYPE html><html lang="<%= metaDataResponse.renderLanguage %>"><head><%- $HEAD %></head><body><%- $BODY %><br> ${Math.random()} {{ Nkardaz.copyright }}<br> <%- $Test %> <%- $Test2 %> </body></html>
