<!DOCTYPE html>
  <%- HEADER %>
  <h1>SFASF</h1>
  <%= __META__.userURL %><br />
  <%= __META__.navigatorLanguage %>
  <%= JSON.stringify(__META__.dataLocalStorage) %>
  <%= JSON.stringify(__META__.savedSettings) %> asfasf
  <div class="material-symbols-rounded">bolt</div>
  <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni corrupti aut accusantium quibusdam excepturi quod nobis, ipsam blanditiis nisi aliquid dolor suscipit rem sequi, a facilis vel enim consequuntur eos!\n
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, cumque.\n
    L o rem ip sum dolor sit amet consectetur, adipisicing elit. Ipsam assumenda, harum possimus rerum tempore dicta nostrum, quas officiis natus&nbsp;omnis sed autem voluptate doloribus voluptatem totam dolorum aliquid exercitationem quo.
    10 512 512 512 512 512
  </div>
  