<% 
  const { urlModes = null, userDevice, navigatorLanguage = 'ru', renderLanguage, userSession} = metaDataResponse;
  const pageUrlMode = urlModes && `${urlModes.mode ? urlModes.mode : 'default'}${urlModes.select ? urlModes.select : ''}` || 'default';
  const [pageTitle, pageDesription, pageSeoImage, pageAuthor, pageViewportMode] = [
    locale[navigatorLanguage].Meta_Pereferences.titles[pageUrlMode],
    locale[navigatorLanguage].Meta_Pereferences.meta.desc[pageUrlMode],
    locale[navigatorLanguage].Meta_Pereferences.meta.image[pageUrlMode],
    locale[`${navigatorLanguage}`].Nkardaz.name,
    urlModes && ['mobile', 'tablet'].includes(request.headers['detected-user-device']) && /(kamon|banners|pattern)/i.test(urlModes.mode) ? ', orientation=landscape' : null
  ];

%>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0<%= orientationMode ?? '' %>">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">

  <meta name="date" content="2024-01-27T11:32:05Z">
  <meta name="subject" content="Art and design, writting, worldbuilding, lore, wiki">
  <meta name="theme-color" content="#333333">
  <meta name="rating" content="Mature">
  <meta name="format-detection" content="phone=no">

  <meta name="ICBM" content="47.0105, 28.8638">
  <meta name="geo.position" content="47.0105;28.8638">
  <meta name="geo.region" content="MD">
  <meta name="geo.placename" content="Chișinău">

  <base href="<%= domainUrl %>/" />
  <link rel="canonical" href="<%= cannonicalUrl %>">


  <!-- ***** OG:META *****-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= pageTitle %>" data-key="Meta_Pereferences.titles.<%= pageUrlMode %>">
  <meta property="og:url" content="<%= pageUrl %>">
  <meta property="og:description" content="<%= pageDesription %>" data-key="Meta_Pereferences.meta.desc.<%= pageUrlMode %>">
  <meta property="og:image" content="<%= pageSeoImage %>" data-key="Meta_Pereferences.meta.image.<%= pageUrlMode %>">
  <meta property="og:locale" content="<%= renderLanguage %>">
  
  <!-- ????? TWITTER:META ????? -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="<%= domainUrl %>">
  <meta property="twitter:url" content="<%= pageUrl %>">
  <meta name="twitter:title" content="<%= pageTitle %>" data-key="Meta_Pereferences.titles.<%= pageUrlMode %>">
  <meta name="twitter:description" content="<%= pageDesription %>" data-key="Meta_Pereferences.meta.desc.<%= pageUrlMode %>">
  <meta name="twitter:image" content="<%= pageSeoImage %>" data-key="Meta_Pereferences.meta.image.<%= pageUrlMode %>">
  <meta name="twitter:creator" content="@nkardaz">

  <meta name="thumbnail" content="/local/images/svg/favicon.svg?s=512&to=webp">
  <meta name="generator" content="<%= serverConfig.server.wiki.type %> <%= serverConfig.server.wiki.version %>">

  <meta http-equiv="Cache-Control" content="public">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="<%= pageTitle %>">
  <meta name="application-name" content="<%= pageTitle %>">
  <meta name="msapplication-config" content="/manifest/browserconfig.xml">
  <meta name="msapplication-TileImage" content="/local/images/svg/favicon.svg?to=png&r=256">
  <meta name="msapplication-TileColor" content="#333333">
  <meta name="msapplication-task" content="name=<%= webManifest.shortcuts[0].name %>;action-uri=<%= webManifest.shortcuts[0].url %>;icon-uri=<%= webManifest.shortcuts[0].icons[1].src %>"/>
  <meta name="msapplication-task" content="name=<%= webManifest.shortcuts[1].name %>;action-uri=<%= webManifest.shortcuts[1].url %>;icon-uri=<%= webManifest.shortcuts[1].icons[1].src %>"/>

  <% 
    const desktopSizes = [16, 32, 64, 128, 256, 512];
    const iOSSizes = [16, 20, 32, 64, 72, 128, 144, 192, 256, 512, 1024];
  %>

  <% desktopSizes.forEach(size => { %>
  <link rel="icon" href="/local/images/svg/favicon.svg?to=png&r=<%= size %>" sizes="<%= size %>x<%= size %>" type="image/png">
  <link rel="shortcut icon" href="/local/images/svg/favicon.svg?to=png&r=<%= size %>" sizes="<%= size %>x<%= size %>" type="image/png">
  <% }); %>

  <% iOSSizes.forEach(size => { %>
  <link rel="apple-touch-icon" href="/local/images/svg/favicon.svg?to=png&p=12&r=<%= size %>" sizes="<%= size %>x<%= size %>">
  <% }); %>

  <title data-key="Meta_Pereferences.titles.<%= pageUrlMode %>"><%= pageTitle %></title>
  <link rel="license" href="?mode=license">
  <link rel="me" href="https://vk.com/id273533538">
  <meta name="author" content="<%= pageAuthor %>">
  <meta content="<%= pageDesription %>" name="description" data-key="Meta_Pereferences.meta.desc.<%= pageUrlMode %>">
  <link rel="manifest" href="/manifest/manifest.<%= renderLanguage %>.webmanifest">

  <script type="module" src="/script/index.client.js"></script>
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/skins/<%= (userSession && userSession.savedSettings && userSession.savedSettings.skin) ? userSession.savedSettings.skin : 'byakujou' %>.css" />

  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="7 days">

  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="use-credentials">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">